<ion-header>
	<ion-toolbar class="pokemon-toolbar-theme">
		<ion-buttons slot="start">
			<ion-back-button defaultHref="/nuzlocke/encounters">
			</ion-back-button>
		</ion-buttons>
		<ion-title class="toolbar_style">Editar Pokémon</ion-title>
	</ion-toolbar>
</ion-header>
<ion-content>
		<ion-item>
			<ion-label class="title_style">Registrar encontro
			</ion-label>
		</ion-item>

		<ion-item>
			<ion-label class="input_style">Pokémon pego</ion-label>
			<ion-select class="input_style" [(ngModel)]="chosenDataPokemon" multiple="false">
				<ion-select-option *ngFor="let option of pokemonDatabaseService.allPokemon" [value]="option">{{option.species}}</ion-select-option>
			</ion-select>
		</ion-item>

		<ion-item>
			<ion-label class="input_style" position="floating">Nickname</ion-label>
			<ion-input [(ngModel)]="pokemonNickname" type="text" maxLength="12"></ion-input>
		</ion-item>

		<ion-item>
			<ion-label class="input_style" position="floating">Level</ion-label>
			<ion-input [(ngModel)]="pokemonLevel" type="number"></ion-input>
		</ion-item>

		<ion-button (click)="saveEncounter()" class="saveButton">
			<ion-icon slot="icon-only" name="save"></ion-icon>
			&nbsp;&nbsp;SALVAR
		</ion-button>
		
		<ion-text *ngIf="this.invalid" class="error_style">
			&nbsp;&nbsp;&nbsp;<br>{{ this.errorMessage }}
		</ion-text>
</ion-content>