@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

.pokemon-toolbar-theme{
    --background: #f37a36;
    --color: #000000;
}

.toolbar_style{
	font-family: 'Ubuntu', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 20px;
	display: flex;
	align-items: center;
	text-align: left;
}

.title_style{
	font-family: 'Ubuntu', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 21px;
	display: flex;
	align-items: center;
	text-align: center;
	padding: 10px 0px 0px 10px;
}


.input_style{
	font-size: 15px; 
    font-weight: normal;
	font-family: 'Ubuntu', sans-serif;
	font-style: normal;
	line-height: 21px;
	display: flex;
	align-items: center;
	text-align: center;
}

.saveButton{
    --background: #f5a06f;
}

.error_style{
	margin: 10px;
	display: flex;
	font-size: 15px;
    font-weight: bold;
	font-family: 'Ubuntu', sans-serif;
	color: red;
} 