<ion-tabs>
	<ion-tab-bar class="pokemon-tab-theme" slot="bottom">
		<ion-tab-button class="pokemon-tab-theme" tab="pokemon-manager">
			<ion-img class="tab-icon" src="./assets/images/tabicon_pokedex.png"></ion-img>
			<ion-label class="tab_font">Pokémon</ion-label>
		</ion-tab-button>
		<ion-tab-button class="pokemon-tab-theme" tab="encounters">
			<ion-img class="tab-icon" src="./assets/images/tabicon_pokeball.png"></ion-img>
			<ion-label class="tab_font">Encontros</ion-label>
		</ion-tab-button>
		<ion-tab-button class="pokemon-tab-theme" tab="gyms">
			<ion-img class="tab-icon" src="./assets/images/tabicon_pokegym.png"></ion-img>
			<ion-label class="tab_font">Ginásios</ion-label>
		</ion-tab-button>
		<ion-tab-button class="pokemon-tab-theme" tab="rules">
			<ion-img class="tab-icon" src="./assets/images/tabicon_rules.png"></ion-img>
			<ion-label class="tab_font">Regras</ion-label>
		</ion-tab-button>
	</ion-tab-bar>
</ion-tabs>