<ion-menu contentId="menu-content" menuId="main-menu" side="start" type="overlay">
	<ion-header >
		<ion-toolbar class="background_menu_toolbar">
			<ion-img class="img_logo_nuzlocke" src="./assets/images/logo_nuzlocke_creator.png">
			</ion-img>
		</ion-toolbar>
	</ion-header>
	<ion-content>
		<ion-item (click)="returnToHome()">
			<ion-icon slot="start" name="home"></ion-icon>
			<ion-label class="label_style">Home Page</ion-label>
		</ion-item>
		<ion-item (click)="endNuzlocke()">
			<ion-icon slot="start" name="trophy"></ion-icon>
			<ion-label class="label_style">Finalizar Nuzlocke</ion-label>
		</ion-item>
		<ion-item routerLink="/about">
			<ion-icon slot="start" name="people"></ion-icon>
			<ion-label class="label_style">Sobre nós</ion-label>
		</ion-item>
	</ion-content>
</ion-menu>
<ion-router-outlet id="menu-content"></ion-router-outlet>

<ion-tabs>
	<ion-tab-bar class="pokemon-tab-theme" slot="bottom">
		<ion-tab-button class="pokemon-tab-theme" tab="pokemon-manager">
			<ion-img class="tab-icon" src="./assets/images/tabicon_pokedex.png"></ion-img>
			<ion-label class="tab_font">Pokémon</ion-label>
		</ion-tab-button>
		<ion-tab-button class="pokemon-tab-theme" tab="encounters">
			<ion-img class="tab-icon" src="./assets/images/tabicon_pokeball.png"></ion-img>
			<ion-label class="tab_font">Encontros</ion-label>
		</ion-tab-button>
		<ion-tab-button class="pokemon-tab-theme" tab="gyms">
			<ion-img class="tab-icon" src="./assets/images/tabicon_pokegym.png"></ion-img>
			<ion-label class="tab_font">Ginásios</ion-label>
		</ion-tab-button>
		<ion-tab-button class="pokemon-tab-theme" tab="rules">
			<ion-img class="tab-icon" src="./assets/images/tabicon_rules.png"></ion-img>
			<ion-label class="tab_font">Regras</ion-label>
		</ion-tab-button>
	</ion-tab-bar>
</ion-tabs>
