<ion-header>
	<ion-toolbar class="pokemon-toolbar-theme">
		<ion-title class="title_style">{{savedNuzlockesService.currentNuzlocke.name}}</ion-title>
		<ion-buttons slot="start" icon="add">
			<ion-menu-button menu="main-menu"></ion-menu-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-segment [(ngModel)]="currentStatus" (ngModelChange)="this.ownedPokemonService.applyStatusFilter(this.currentStatus)">
		<ion-segment-button value="Party">
			<ion-label class="label_style">Party</ion-label>
		</ion-segment-button>
		<ion-segment-button value="Box">
			<ion-label class="label_style">Box</ion-label>
		</ion-segment-button>
		<ion-segment-button value="Morto">
			<ion-label class="label_style">Morto</ion-label>
		</ion-segment-button>
	</ion-segment>
	<ion-list>
		<ion-item *ngIf="currentStatus == 'Morto' && doesRevivalRuleAllowReviving()">
			<ion-img src="./assets/images/revive-icon.png" class="revive_img"></ion-img>
			<ion-label class="reviving_chances_style">{{ this.savedNuzlockesService.currentNuzlocke.revivingChances }}</ion-label>
			<ion-button *ngIf="isRevivalRuleBasedOnItem()" (click)="addRevivalChance()" [disabled]="this.savedNuzlockesService.currentNuzlocke.completed" class="add_revive_button">
				<ion-icon slot="icon-only" name="add"></ion-icon>
			</ion-button>
		</ion-item>
		<ion-item *ngFor="let owned of ownedPokemonService.filteredPokemon" (click)="redirectToOwnedUrl(owned.url)">
			<ion-img [src]="owned.pokemon.iconSource"></ion-img>
			<ion-label *ngIf="owned.nickname != null && owned.nickname != ''; else noNickname" class="pokemon_description">{{ owned.pokemon.species }}
				<br>({{ owned.nickname }})</ion-label>
			<ion-text class="pokemon_description">Level: {{ owned.level }}</ion-text>


			<ng-template #noNickname>
				<ion-label class="pokemon_description">{{ owned.pokemon.species }}</ion-label>
			</ng-template>
		</ion-item>
	</ion-list>
</ion-content>
