<ion-header>
	<ion-toolbar class="pokemon-toolbar-theme">
		<ion-title class="title_style">{{savedNuzlockesService.currentNuzlocke.name}}</ion-title>
		<ion-buttons slot="start" icon="add">
			<ion-menu-button menu="main-menu"></ion-menu-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-grid fixed>
		<ion-row>
			<ion-col *ngFor="let badge of this.completedGymsService.badges" size="3">
				<ion-img *ngIf="badge.number <= 4" (click)="shouldGymBeMarked(badge.number)" [src]="badge.iconSource"></ion-img>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-row><ion-col *ngFor="let badge of this.completedGymsService.badges" size="3">
				<ion-img *ngIf="badge.number >= 5 " (click)="shouldGymBeMarked(badge.number)" [src]="badge.iconSource"></ion-img>
			</ion-col>
		</ion-row>
	</ion-grid>
	<ion-item *ngIf="this.shouldGymOptionsAppear()">
		<ion-label class="next_gym_title">
			Próximo ginásio:
		</ion-label>
	</ion-item>
	<ion-item *ngIf="this.shouldGymOptionsAppear()">
		<ion-label class="label_style">
			Pokémon mais fraco: Level {{this.completedGymsService.nextBadge.lowestLevel}}
		</ion-label>
	</ion-item>
	<ion-item *ngIf="this.shouldGymOptionsAppear()">
		<ion-label class="label_style">
			Pokémon mais forte: Level {{this.completedGymsService.nextBadge.greatestLevel}}
		</ion-label>
	</ion-item>
	<ion-button
	*ngIf="this.completedGymsService.lastCompletedBadgeNumber != 8 && !this.savedNuzlockesService.currentNuzlocke.completed && doesChosenRuleAffectMinimumLevels()"
	(click)="changeChallengingStatus()"
	[class]="challengingGym ? 'challenging_gym' : 'not_challenging_gym'">
		{{this.challengingGymMessage}}
	</ion-button>
	<ion-text *ngIf="this.invalid" class="error_style">
		&nbsp;&nbsp;&nbsp;<br>{{ this.errorMessage }}
	</ion-text>
</ion-content>
