<ion-header [translucent]="true">
	<ion-toolbar class="pokemon-toolbar-theme">
		<ion-buttons slot="start">
			<ion-back-button defaultHref="/home">
			</ion-back-button>
		</ion-buttons>
		<ion-title class="title_style">QUEM SOMOS?</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="background" [fullscreen]="true">

	<ion-text class="label_style">
		Somos apenas mais alguns aficionados na franquia Pokémon, e que entendemos
		o quanto os players vêm inovando nas jogatinas no estilo Nuzlocke.<br><br>

		Por isso, dada a infinidade de regras, estilos e definições que os
		jogadores mais costumam usar atualmente, desenvolvemos essa aplicação
		para servir como guia e auxílio durante as gameplays. <br><br>

		Esperamos conseguir te ajudar a ter uma experiência de jogo mais fluida
		e organizada. Boa diversão! :)
	</ion-text>
	<ion-img class="img_snorlax_about" src="./assets/images/about_snorlax.png"></ion-img>
</ion-content>