<ion-header [translucent]="true">
	<div class="background_logo_nuzlocke">
		<ion-img class="img_logo_nuzlocke" src="./assets/images/logo_nuzlocke_creator.png">
		</ion-img>
	</div>
</ion-header>

<ion-content class="background" [fullscreen]="true">
	<ion-label class="rule_options" style="top: 140px;">
		{{category.name}}
	</ion-label>
	<ion-label class="rule_options" style="top: 180px; font-size: 12px; color: rgb(109, 109, 109);">
		{{category.description}}
	</ion-label>
	<ion-item (click)="registerOption(0)" class="rule_options" style="top: 250px;">
		<ion-text [class]="this.selectedOptionIndex == 0 ? 'selected_background' : 'no_selected_background'" style="padding-left: 10px;">
			{{category.options[0]}}
		</ion-text>
	</ion-item>
	<ion-item (click)="registerOption(1)" class="rule_options" style="top: 310px;">
		<ion-text [class]="this.selectedOptionIndex == 1 ? 'selected_background' : 'no_selected_background'">
			{{category.options[1]}}
		</ion-text>
	</ion-item>
	<ion-item (click)="registerOption(2)" class="rule_options" style="top: 380px;">
		<ion-text [class]="this.selectedOptionIndex == 2 ? 'selected_background' : 'no_selected_background'">
			{{category.options[2]}}
		</ion-text>
	</ion-item>

  <ion-button class="return_button" routerLink="/criar/captura">
		Voltar
		<ion-icon slot="start" name="arrow-back-circle-outline"></ion-icon>
	</ion-button>

	<ion-img (click)="printOption()" routerLink="/criar/mortes" class="next_button" src="./assets/images/pokeball_button.png"></ion-img>


</ion-content>
