@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

.pokemon-toolbar-theme{
    --background: #f37a36;
    --color: #000000;
}

.label_style{
	font-family: 'Ubuntu', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 20px;
	display: flex;
	align-items: center;
}

.delete_button{
	--background: rgb(240, 189, 34);
	--color: black;
	width: 50px;
}

.title_style{
    font-family: 'Ubuntu', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	line-height: 16px;
    align-items: center;
}

.description_style{
    font-family: 'Ubuntu', sans-serif;
	font-style: normal;
	font-size: 15px;
	line-height: 16px;
} 