<ion-header [translucent]="true">
	<div class="background_logo_nuzlocke">
		<ion-img class="img_logo_nuzlocke" src="./assets/images/logo_nuzlocke_creator.png">
		</ion-img>
	</div>
</ion-header>

<ion-content class="background" [fullscreen]="true">

	<ion-item class="newNuzlockeInput">
		<ion-input type="text" placeholder="Insira o nome do seu novo Nuzlocke" [(ngModel)]="newNuzlockeName">
		</ion-input>
	</ion-item>

	<ion-item class="selectGame_options">
		<ion-label class="selectGame_label">Escolha o jogo</ion-label>
		<ion-select [(ngModel)]="selectedGame" multiple="false">
			<ion-select-option *ngFor="let game of this.chosenRulesService.availableGames" [value]="game">{{game.name}}</ion-select-option>
		</ion-select>
	</ion-item>

	<ion-button 
		(click)="resetInvalidFlag()"
		routerLink="/criar/select-rules/captura" 
		[class]="this.chosenRulesService.areAllRulesSelected() ? 'selectRules_button_selected' : 'selectRules_button_notSelected'"
		expand="block" fill="clear" shape="round">
		Escolha as regras
	</ion-button>

	<ion-text *ngIf="this.invalid" class="error_style">
		&nbsp;&nbsp;&nbsp;<br>{{ this.errorMessage }}
	</ion-text>

	<ion-button class="return_button" routerLink="/home">
		Voltar
		<ion-icon slot="start" name="arrow-back-circle-outline"></ion-icon>
	</ion-button>

	<ion-img (click)="validateCreation()" class="next_button" src="./assets/images/pokeball_button.png"></ion-img>
</ion-content>
