<ion-header [translucent]="true">
	<div class="background_logo_nuzlocke">
		<ion-img class="img_logo_nuzlocke" src="./assets/images/logo_nuzlocke_creator.png">
		</ion-img>
	</div>
</ion-header>

<ion-content class="background" [fullscreen]="true">

	<ion-item class="newNuzlockeInput">
		<ion-input type="text" placeholder="Insira o nome do seu novo Nuzlocke" [(ngModel)]="newNuzlockeName">
		</ion-input>
	</ion-item>

	<ion-item class="selectGame_options">
		<ion-label class="selectGame_label">Escolha o jogo</ion-label>
		<ion-select [(ngModel)]="selectedGame" multiple="false">
			<ion-select-option value="Red">Red</ion-select-option>
			<ion-select-option value="Blue">Blue</ion-select-option>
			<ion-select-option value="Green">Green</ion-select-option>
			<ion-select-option value="Yellow">Yellow</ion-select-option>
			<ion-select-option value="Gold">Gold</ion-select-option>
			<ion-select-option value="Silver">Silver</ion-select-option>
			<ion-select-option value="Crystal">Crystal</ion-select-option>
			<ion-select-option value="Ruby">Ruby</ion-select-option>
			<ion-select-option value="Sapphire">Sapphire</ion-select-option>
			<ion-select-option value="Emerald">Emerald</ion-select-option>
			<ion-select-option value="Diamond">Diamond</ion-select-option>
			<ion-select-option value="Pearl">Pearl</ion-select-option>
			<ion-select-option value="Platinum">Platinum</ion-select-option>
			<ion-select-option value="Black">Black</ion-select-option>
			<ion-select-option value="White">White</ion-select-option>
			<ion-select-option value="Black_2">Black 2</ion-select-option>
			<ion-select-option value="White_2">White 2</ion-select-option>
			<ion-select-option value="X">X</ion-select-option>
			<ion-select-option value="Y">Y</ion-select-option>
			<ion-select-option value="Sun">Sun</ion-select-option>
			<ion-select-option value="Moon">Moon</ion-select-option>
			<ion-select-option value="Ultra_Sun">Ultra Sun</ion-select-option>
			<ion-select-option value="Ultra_Moon">Ultra Moon</ion-select-option>
			<ion-select-option value="Sword">Sword</ion-select-option>
			<ion-select-option value="Shield">Shield</ion-select-option>
			<ion-select-option value="Fire_Red">Fire Red</ion-select-option>
			<ion-select-option value="Leaf_Green">Leaf Green</ion-select-option>
			<ion-select-option value="Heart_Gold">Heart Gold</ion-select-option>
			<ion-select-option value="Soul_Silver">Soul Silver</ion-select-option>
			<ion-select-option value="Omega_Ruby">Omega Ruby</ion-select-option>
			<ion-select-option value="Alpha_Sapphire">Alpha Sapphire</ion-select-option>
			<ion-select-option value="Brilliant_Diamond">Brilliant Diamond</ion-select-option>
			<ion-select-option value="Shining_Pearl">Shining Pearl</ion-select-option>
		</ion-select>
	</ion-item>

	<ion-button routerLink="/criar/captura" class="selectRules_button" expand="block" fill="clear" shape="round">
		Escolha as regras
	</ion-button>
  
  <ion-button class="return_button" routerLink="/home">
		Voltar
		<ion-icon slot="start" name="arrow-back-circle-outline"></ion-icon>
	</ion-button>

	<ion-img class="next_button" src="./assets/images/pokeball_button.png"></ion-img>
</ion-content> 
