<ion-header>
	<ion-toolbar class="pokemon-toolbar-theme">
		<ion-title class="title_style">Nuzlocke da quarentena</ion-title>
		<ion-buttons slot="start" icon="add">
			<ion-menu-button menu="main-menu"></ion-menu-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-list class="label_style" *ngFor="let route of captureService.routes">
		<ion-item>
			<ion-grid fixed>
				<ion-row (click)="route.waiting? registerEncounter(captureService.routes.indexOf(route)): makeNothing()">
					<ion-col size="4">
						<ion-icon [name]="route.iconName"></ion-icon>&nbsp;&nbsp;
						<ion-text  class="label_style">{{ route.name }}</ion-text>				
					</ion-col>
					<ion-col size="8">
						<ion-item *ngIf="route.successful && route.species != null">
							<ion-img [src]="route.iconSource"></ion-img>
							<ion-label *ngIf="route.nickname != null && route.nickname != ''; else noNickname" class="pokemon_detail_style">{{ route.species }}
								<br>({{ route.nickname }})
								<br>Level: {{ route.level }}
							</ion-label>
							
							<ng-template #noNickname>
								<ion-label class="pokemon_detail_style">{{ route.species }}
									<br>Level: {{ route.level }}
								</ion-label>
							</ng-template>
						</ion-item>
					</ion-col>
				</ion-row>
			</ion-grid>
		</ion-item>
	</ion-list>
</ion-content>
