<ion-content>
	<ion-item>
		<ion-grid>
			<ion-row>
				<ion-col size="5">
					<ion-img [src]="pokemon_chosen.iconSource"></ion-img>
				</ion-col>
				<ion-col size="7">
					<ion-row>
						<ion-col size="12">
							<ion-text class="label_style" style="padding-top: 20px;">{{ pokemon_chosen.species }}</ion-text>
						</ion-col>
					</ion-row>
					<ion-row *ngIf="pokemon_chosen.nickname != null">
						<ion-col size="12">
							<ion-text class="label_style" style="font-weight: normal;">({{ pokemon_chosen.nickname }})
							</ion-text>
						</ion-col>
					</ion-row>
				</ion-col>
			</ion-row>

			<ion-row>
				<ion-col size="3">
					<ion-label class="level_label_style">Level</ion-label>
					<ion-input class="level_label_style" disabled style="font-weight: normal;" type="number"
						[(ngModel)]="pokemon_chosen.level"></ion-input>
				</ion-col>
				<ion-col size="3">
					<ion-button class="return_button">
						Upar
						<ion-icon slot="start" name="chevron-up"></ion-icon>
					</ion-button>
				</ion-col>
				<ion-col size="1">
				</ion-col>
				<ion-col size="5">
					<ion-button class="return_button"
						style="color: black;">
						<ion-img style="width: 20px;" src="./assets/images/evolve_icon.png"></ion-img>
						&nbsp;Evoluir
					</ion-button>
				</ion-col>
			</ion-row>

			<ion-row>
				<ion-col size="12">
					<ion-item>
						<ion-label class="label_style">Status</ion-label>
						<ion-select [(ngModel)]="pokemon_chosen.status" multiple="false" placeholder="Status">
							<ion-select-option value="Party">Party</ion-select-option>
							<ion-select-option value="Box">Box</ion-select-option>
							<ion-select-option value="Morto">Morto</ion-select-option>
						</ion-select>
					</ion-item>
				</ion-col>
			</ion-row>
		</ion-grid>
	</ion-item>
</ion-content>
