@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

.label_style{
	font-family: 'Ubuntu', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 13px;
	display: flex;
	align-items: center;
	text-align: center;

	// padding: 10px 15px 10px 15px;
}

.pokemon-toolbar-theme{
    --background: #f37a36;
    --color: #000000;
}

.level_label_style{
    font-family: 'Ubuntu', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 13px;
}

.return_button{
	--background: #f5a06f;
	// position: absolute;
	// top: 550px;
	// left: 20px;
}