<ion-content>
	<ion-item>
		<ion-grid>
			<ion-row>
				<ion-col size="5">
					<ion-img [src]="pokemon_chosen.pokemon.iconSource"></ion-img>
				</ion-col>
				<ion-col size="7">
					<ion-row>
						<ion-col size="12">
							<ion-text class="label_species_style">{{ pokemon_chosen.pokemon.species }}</ion-text>
						</ion-col>
					</ion-row>
					<ion-row *ngIf="pokemon_chosen.nickname != null && pokemon_chosen.nickname != ''">
						<ion-col size="12">
							<ion-text class="label_nickname_style">({{ pokemon_chosen.nickname }})
							</ion-text>
						</ion-col>
					</ion-row>
				</ion-col>
			</ion-row>

			<ion-row>
				<ion-col size="3">
					<ion-label class="level_label_style">Level</ion-label>
					<ion-input class="level_label_style_number" disabled type="number"
						[(ngModel)]="pokemon_chosen.level"></ion-input>
				</ion-col>
				<ion-col size="3">
					<ion-button class="levelUp_button" [disabled]="pokemon_chosen.status == 'Morto'" (click)="levelUp()">
						Upar
						<ion-icon slot="start" name="chevron-up"></ion-icon>
					</ion-button>
				</ion-col>
				<ion-col size="1">
				</ion-col>
				<ion-col size="5">
					<ion-button (click)="confirmEvolution()" [disabled]="pokemon_chosen.pokemon.evolveToIds.length == 0 || pokemon_chosen.status == 'Morto'" class="evolve_button">
						<ion-img class="dna_img" src="./assets/images/evolve_icon.png"></ion-img>
						&nbsp;Evoluir
					</ion-button>
				</ion-col>
			</ion-row>

			<ion-row>
				<ion-col size="12">
					<ion-item>
						<ion-label class="label_style">Status</ion-label>
						<ion-select [(ngModel)]="pokemon_chosen.status" (ngModelChange)="confirmStatusChange()" multiple="false" placeholder="Status">
							<ion-select-option value="Party">Party</ion-select-option>
							<ion-select-option value="Box">Box</ion-select-option>
							<ion-select-option value="Morto">Morto</ion-select-option>
						</ion-select>
					</ion-item>
				</ion-col>
			</ion-row>
		</ion-grid>
	</ion-item>
	<ion-text *ngIf="this.invalid" class="error_style">
		&nbsp;&nbsp;&nbsp;<br>{{ this.errorMessage }}
	</ion-text>
</ion-content>
