<ion-header>
	<div class="background_logo_nuzlocke">
		<ion-img class="img_logo_nuzlocke" src="./assets/images/logo_nuzlocke_creator.png">
		</ion-img>
	</div>
</ion-header>

<ion-content class="background" [fullscreen]="true">
	<ion-text class="home_options_left" routerLink="/criar">
		CRIE O SEU NUZLOCKE
		<ion-img class="img_ash_home" src="./assets/images/home_ash.png">
		</ion-img>
	</ion-text>

	<ion-text class="home_options_right">
		<ion-img class="img_starters" src="./assets/images/home_starters.png">
		</ion-img>
		VEJA OS SEUS NUZLOCKES
	</ion-text>

	<ion-text class="home_about-us">
		<ion-img class="img_about-us" src="./assets/images/home_articuno.png">
		</ion-img>
		QUEM <br>SOMOS?
	</ion-text>
</ion-content>